@model List<UserComment>

@{
    ViewData["Title"] = "ViewComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewComments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Count == 0)
{
    <p>No comments yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IdentityUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

